basemap==1.0.7
bokeh==0.10.0
ipykernel==4.1.1
ipython==3.2.0
ipython-notebook==3.2.0
ipython-qtconsole==3.2.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
jsonschema==2.4.0
matplotlib==1.4.3
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.0.6
numpy==1.10.1
pandas==0.17.0
pep8==1.4.6
requests==2.2.1
scipy==0.13.3
urllib3==1.7.1
utm==0.4.0
sqlite==3.8.4.1
yaml==0.1.6
requests==2.8.1 
zlib==1.2.8
